<%# <%= render 'partials/carousel' %>

<section>

</section>
<div class="row g-0">
  <div class="col-lg-6">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.1462981110135!2d-70.61045088481497!3d-33.445494804644014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf4814b000d9%3A0x67af27656f8a4fb5!2sVegan%20Mobile%20Pizza!5e0!3m2!1sen!2scl!4v1619564590107!5m2!1sen!2scl" allowfullscreen="" loading="lazy" class="resp-iframe"></iframe>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="instagram-feed">
      <%= render 'partials/instagram-feed' %>
    </div>
  </div>
</div>
