<div class="row g-0">
  <div class="col-lg-6">
    <%= image_pack_tag("media/images/abstract.png", class:"img-fluid") %>
  </div>
  <div class="col-lg-6">
    <div id="instagram-feed">
      <%= render 'partials/instagram-feed' %>
    </div>
  </div>
</div>
