<div class="intro">
  <div class="hide">
    <span class="logo">
      <%= image_pack_tag("media/images/colibri.png", class:"img-fluid brand") %>
    </span><br>
    <div class="spinners">
      <% 3.times do %>
      <div class="spinner-grow" role="status"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="slider-div"></div>
