<div class="offcanvas offcanvas-bottom bg-modal" id="offcanvas" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" style="height:4rem;width:100%;">
  <div class="container">
    <div class="offcanvas-body px-0">
      <div class="float-start" id="titleoff">Añadido al carro &#x2714</div>
      <div class="float-end"><%= link_to "COMPRAR", "", class:"btn btn-sm btn-store shadow-none px-3", "data-bs-toggle"=>"modal", "data-bs-target"=>"#checkout", "data-bs-dismiss"=>"offcanvas" %></div>
    </div>
  </div>
</div>
